html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #1f2833;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #66fcf1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 100%;
    padding: 0em 0em 9em;
}

#topBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #36454f; 
    color: #FB2576;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px; 
    transition: color 0.7s,background-color 0.7s, transform 0.7s;
}

button{
    background-image: "images/kindpng_740718.png";

}

#topBtn:hover {
    color: #ffffff;
    background-color: #acacac; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1em;
    overflow: hidden;
    background-color: #0b0c10;
    text-align: center;
    
}

li a {
    display: flex;
    justify-content: space-evenly;
    color: #45a29e;  
    float: right; 
    padding-bottom: 10px;
    padding-top: 10px;
    width:8%;
    text-align: left;
    text-decoration: none;
    font-family: monospace;
    transition: color 0.7s, transform 0.25s ease-out;
    transform-origin: bottom right;
}
  
.hover-underline-animation {
    text-align: center;
    display: inline-block;
    position: relative;
    color: #0087ca;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: center;
  }
h1, h2 {
    font-family: monospace;
    color: #c5c6c7;

}

h1{
    padding-top: .5em;
    font-weight: 10px;
    font-size: 70px;
    text-align: center;
}

h2{
    text-align:center;
    padding-left: 0;
    font-family: monospace;
    font-weight: 100;
}

h3{
    padding-top: .5em;
    padding-left: 1em;
    font-weight: 250;
    text-align: left;
}

img{
   padding-left: 25%;
   padding-right: 25%;
    
}

p{
    padding-right: 20%;
    padding-left:20%;
}
